Options -Indexes

RewriteEngine on

#Some hosts need this rule set to absolute URL to your anwiki install.
RewriteBase /Library/uxf/demo

RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteRule (.*)                      index.php?r=$1  [QSA,L]

